env3.5/
env3.4/
env/
.*\.pyc
.*\.swp
.*\.swo
.*\.swn
bitbucket
.idea/
live.sh
to_do
core/local_settings.py
.DS_Store
db.sqlite3
env_manager/
demo.sh
credentials
media/
celerybeat-schedule
celerybeat.pid
dem.txt
fileTransfer.py
html_files/
.hgignore
.hg/
