{% lp_extends "base.html" %}
{% block container %}

    <!-- Main content Start-- -->
          <div class="menu-container inner-menu">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="index.html" class="logo">
                            <img src="{% site_static 'img/logo.png' %}" alt=""/>
                        </a>
						<a class="header_phn_no aside_heading" href="tel:{{ site_info.phone_number }}">
							<span class="fa fa-phone"></span>
							{{ site_info.phone_number }}
						</a>

                        <ul class="main-menu-ul" id="mainMenu">
                            <li><a href="{% url 'landing_page:index' %}">Home</a></li>
                            <li><a href="{% url 'landing_page:index' %}#b102">Plan Info</a></li>
                            <li><a href="{% url 'landing_page:index' %}#b101">benefits</a></li>
                            <li><a href="#" class="seePlansJs">See Plans</a></li>
                            <li><a class="header_phn_no" href="tel:{{ site_info.phone_number }}"><span
                            class="fa fa-phone"></span> {{ site_info.phone_number }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="about-us" id="about-us" style="padding:60px 0;min-height: 60vh;">
        <div class="container">
            <div class="row">
                <div class="col col-40p">
                    <img src="
                    {% if abouttext.featured_image %}
                        {{ abouttext.featured_image.url }}
                    {% else %}
                        {% site_static 'img/amout-img.png' %}
                    {% endif %}" class="mw100" alt=""/>
                </div>
                <div class="col col-60p">
                    {#<h2 class="secondary-color text-center"> {{ abouttext.text|default:"Thank You!" }}</h2>#}
                    <p class="seo-text">{{ abouttext.sub_text|default:""|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}