{# landing page no. 08 #}

{% extends 'base.html' %}
{% load landing_page_tags %}


{% block meta %}
    {% include 'snippets/meta-default.html' %}
{% endblock meta %}


{% block title %}
    
    {% if page.get_page_name_display != 'Home' %}
    
        {% if page.title %} {{ page.title }}
        {% else %} {{ page.get_page_name_display }} {% endif %}
        
        {{ site_info.title_separator }}
    {% endif %}
    
        {{ page.get_page_title }}
    
{% endblock title %}


{% block css %}
    {% include 'snippets/css-link.html' %}
{% endblock css %}


{% block header %}
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{% url 'landing_page:index' %}" class="logo">
                        <img src="{% site_static 'img/logo.png' %}" alt=""/>
                    </a>

                    <ul class="top-contact-info">
                        <li>
                            <a href="tel:{{ site_info.phone_number }}"><span class="fa fa-phone"></span> {{ site_info.phone_number }}</a>
                        </li>
                        <li>
                            <a href="mailto:{{ site_info.email_id }}"><span class="fa fa-envelope"></span>{{ site_info.email_id }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="main-menu-ul">
                        {% for page in pages %}
                        <li><a href="{{ page.get_absolute_url }}">{{ page.get_page_nav_name }}</a></li>
                        {% endfor %}
                        <li><a href="#" class="seePlansJs">Plans</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}


{% block container %}{% endblock container %}


{% block footer %}
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="footer-ul">
                        <li>&copy; {{ request.get_host }}&nbsp;&nbsp;2017,&nbsp;&nbsp;All rights reserved.</li>
                        <li><a href="">Terms &amp; Conditions</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Policy</a></li>
                        <li><a href="#homeJS" class="msScrollTo"><span class="fa fa-arrow-up"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'snippets/quote-form.html' %}
{% endblock footer %}


{% block js %}
    {% include 'snippets/scripts.html' %}
{% endblock js %}